= render 'shared/index_header'

%header.new_top
  地域を紹介する
.presentation
  .presentation__contents
    = form_for @local do |f|
      .presentation__contents__image
        %p.image__top PR画像
        %span.image__top--text 必須
        %ul.image-upload__preview
          //画像投稿フォーム
          = f.fields_for :images do |fi|
            // プラン1
            .dropzone-container.clearfix
              %p ファイルを選択してアップロード
              .dropzone-area
                = fi.file_field :url, autofocus: true, name: "images[0][url]", id: "upload-image", class: "upload-image"
              #preview
            -# // プラン2
            -# .dropzone-container.clearfix
            -#   %p ドラッグアンドドロップ
            -#   %p またはファイルを選択してアップロード
            -#   #preview
            -#   .dropzone-area
            -#     = fi.label :url, class: "dropzone-box", for: "upload-image" do
            -#       .input_area
            -#         = fi.file_field :url, multiple: true, name: "images[image][]", id: "upload-image", class: "upload-image", 'data-image': 0
            -#       %p ここをクリックしてください
            -#   #preview2
            -#   .dropzone-area2
            -#     = fi.label :url, class: "dropzone-box", for: "upload-image" do
            -#       %p ここをクリックしてください

      // タイトル入力フォーム
      .presentation__contents__title
        .form
          %span.form__title タイトルを入力してください
          .form__input
            =f.text_field :title, autofocus: true, placeholder: "紹介タイトル(必須)", class: "form__input--title"

      // 都道府県名入力フォーム
      .presentation__contents__prefecture
        .form
          %span.form__prefecture 紹介する地域の都道府県名を入力してください
          .form__input
            =f.text_field :prefecture, autfocus: true, placeholder: "都道府県名(必須)", class: "form__input--prefecture"

      // 市区町村名入力フォーム
      .presentation__contents__city
        .form
          %span.form__city 紹介する地域の市区町村名を入力してください
          .form__input
            =f.text_field :city, autofocus: true, placeholder: "市区町村名(必須)", class: "form__input--city"

      // 地域説明フォーム
      .presentation__contents__description
        .form
          %span.form__description 地域のPR文
          .form__input
            =f.text_area :description, autofocus: true, placeholder: "地域の紹介(必須)", class: "form__input--description"

      // 周辺施設情報
      .presentation__contents__institution
        %span.institution__top 周辺施設情報

        // レストラン情報
        .presentation__contents__institution--restaurant
          .form
            %span.form__restaurant 地域の料理店を紹介しよう
            .form__input
              =f.text_field :restaurant, autofocus: true, placeholder: "料理店の紹介", class: "form__input--restaurant"

        // スーパーの情報
        .presentation__contents__institution--super
          .form
            %span.form__super 地域のコンビニやスーパーを紹介しよう
            .form__input
              =f.text_field :supermarket, autofocus: true, placeholder: "スーパーの紹介", class: "form__input--super"

        // 大型複合施設の情報
        .presentation__contents__institution--department
          .form
            %span.form__department 地域の大型複合施設(デパートやショッピングモール等)を紹介しよう
            .form__input
              =f.text_field :department, autofocus: true, placeholder: "大型複合施設の紹介", class: "form__input--department"

        // 観光地の情報
        .presentation__contents__institution--spot
          .form
            %span.form__spot 地域のお勧め観光スポットを紹介しよう
            .form__input
              =f.text_field :tourist_spot, autofocus: true, placeholder: "観光地の紹介", class: "form__input--spot"

        // 最寄駅の情報
        .presentation__contents__institution--station
          .form
            %span.form__station 最寄駅の情報
            .form__input
              =f.text_field :station, autofocus: true, placeholder: "最寄駅の情報", class: "form__input--station"

        // インターチェンジの情報
        .presentation__contents__institution--interchange
          .form
            %span.form__interchange 最寄インターチェンジの情報
            .form__input
              =f.text_field :interchange, autofocus: true, placeholder: "インターチェンジの情報", class: "form__input--interchange"

      .presentation__contents__finish
        = f.submit "送信", class: "presentation__contents__finish--btn"
      
      .presentation__contents__return
        = link_to root_path, class: "presentation__contents__return--btn" do
          戻る